# Web3Forms Configuration
VITE_WEB3FORMS_ACCESS_KEY=a9f3fdb7-1dba-4aff-aebb-feb3500ecdee

# Contact Information
VITE_CONTACT_EMAIL=rithick06@yahoo.com
VITE_CONTACT_PHONE=+91 9585224455

# Social Links
VITE_GITHUB_URL=https://github.com/rithick-06
VITE_LINKEDIN_URL=https://www.linkedin.com/in/rithick-m-k/
